body 
{
    font-family:Verdana, Arial, sans-serif;
    margin: 30px;
}

div.wrap
{
   position:relative;
   margin:0 auto;
   padding:2em 0 3em 0;
   width:54em;

/*    max-width:50em;*/
}

h2
{
    /*color:#222222; */
    background-color:#1cbdfc;
    text-align:center;
}

h3, h3 > a
{
    color:#555555; /* grey */
}

p,h4
{
    margin-left:40px;
    margin-right:20px;
}

div.tools
{
    margin-left:80px;
}

div.tools:before
{
    font-weight:bold;
    content: ">";
}

/*** special display for personal details and photo ****/

p.personal_details
{
    margin-left:0px;
    /*min-height:100px;*/
}

.just_after_personal_details
{
    clear:both;
}

img 
{
    float:right;
    margin-bottom:2px;
}

ul {
    list-style: outside disc;
    margin-left: 1em;
}
ul li {
    position: relative;
    padding-right: 1em;
}
